@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Encode+Sans+SC:wght@100&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --gold: #C88E5E; */
    --gold: #ffdea0;
    --gold_light: #D0A583;
    --black: #000;
    --black_light: #3A3A3A;
    --white: #FFF;
    --gray: #DDDDDD;
}

*{
    /* font-family: 'Courgette','微軟正黑體', sans-serif; */
    /* font-family: 'Louis Vuitton Web','Helvetica Neue','Helvetica','Arial','微軟正黑體', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    letter-spacing: .25rem;
}

::-webkit-scrollbar-track {
    background-color: green;
    box-shadow: inset 0 0 5px gray; 
    border-radius: 10px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
background: red; 
border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* overflow: hidden; */
}

section{
    /* margin-bottom: 100px; */
    padding: 60px 0;
    /* min-width: 1500px; */
}

.sticky {
    /* 不加這個tailwind會蓋過去 */
    position: fixed !important;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    z-index: 999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    
}

.max-width{
    max-width: 1600px; /*1300px*/
    padding: 0 100px;
    margin: 0 auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-nav{
    margin: 0;
    padding: 0;
}

.navbar .nav-title{
    display: inline;
    font-size: 30px;
}

.navbar .nav-title a{
    color: var(--gold);
}

.navbar .nav-item{
    list-style: none;
    margin: 0 1.5rem;
    position: relative;
    overflow: hidden;
}

.navbar .nav-item a {
    color: var(--gold);
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .nav-item .underline {
    background-color: var(--gold);
    transform: translate(0, 1.2rem);
    transition: transform 0.3s ease;
}
.navbar .nav-item:hover .underline {
    transform: translate(-100%, 1.2rem);
}

.navbar .nav-item a:hover{
    color:#FEF7DC;
}

.navbar.sticky{
    background: var(--black_light);
    box-shadow: 0px 2px 5px #FFF;
    /* 左右，上下，擴散，顏色 */
}

/*================================ Modal style ================================*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .3s ease-in-out;
}
  
/* Modal Content */
.modal-content {
background-image: none;
background-color: var(--black);
margin: auto;
padding: 20px;
border: 1px solid var(--gold);
width: 80%;
}

.modal-imgpic{
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

/* The Close Button */
.close {
color: var(--white);
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: var(--gold_light);
text-decoration: none;
cursor: pointer;
}

/*================================ all style ================================*/
.font-robert {
    font-family: 'Roboto Slab', serif;
}

ul{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 36px !important;
    text-align: center;
    position: relative;
    color: var(--gold);
}


h2::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 3px;
    background-color: var(--gold_light);
}

h2 .text{
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

/* h2::after{
    content: "";
    position: absolute;
    right: 350px;
    top: 50%;
    width: 100px;
    height: 3px;
    background-color: var(--gold_light);
} */

.white-t{
    color: var(--white);
}

.mb-1{
    margin-bottom: 150px;
}

.ml-1{
    margin-left: 100px;
}

.mr-1{
    margin-right: 50px;
}

.mr-2{
    margin-right: 100px;
}

footer .scroll i{
    position: fixed;
    font-size: 40px;
    right: 50px;
    bottom: 50px;
}
/*================================ menu btn style ================================*/
.menu-btn{
    color: var(--gold);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*================================ home section style ================================*/
.home{
    display: flex;
    height: 100vh;
    color: var(--white);
    min-height: 500px;
    background: var(--black);
    background-image: url('./assets/tt.svg');
    background-repeat: no-repeat;
    background-position: 850px -50px;
    /* min-width: 1500px; */
    /* 不加上面那句右邊會留白 */
}

.home .max-width{
    margin: auto;
}

.home .home-content{
    /* justify-content: center; */
    text-align: center;
}

.home-content .title{
    padding: 30px;
}

.home-content{
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 10px;
}

.home-content .second-title{
    padding-top: 10%;
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 30px;
    color: var(--gold);
}

.home-content .scroll {
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translateX(-50%);
}

.home-content .scroll a, footer .scroll a{
    color: var(--gold);
}

/*================================ about section style ================================*/
.about{
    /* min-width: 500px; */
    background: var(--black_light);
}

.about .title {
    margin-bottom: 2rem;
}

.about .title .text{
    background-color: var(--black_light);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
    color: var(--white);
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--gold);
}
.about .about-content .right p{
    text-align: justify;
    letter-spacing: 2px;
    color: var(--gray);
}
.about .about-content .right a{
    display: inline-block;
    background: var(--gold);
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--gold);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: var(--gold_light);
    background: none;
}

/*================================ certificates section style ================================*/
.certificates {
    background-color: var(--gray);
}

.certificates .title {
    margin-bottom: 2rem;
}

.certificates .title .text {
    color: var(--black);
    background-color: var(--gray);
}

.certificates-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.certificate-item {
    text-align: center;
    flex: 1 1 20%; /* 讓每個項目佔一行的20%，根據需要調整 */
    margin: 10px;
}

.certificate-image-container {
    position: relative;
    overflow: hidden;
}

.certificate-img {
    width: 100%;  /* 圖片寬度佔滿容器 */
    height: 200px;  /* 固定高度，你可以根據需要調整這個值 */
    object-fit: contain;  /* 保持圖片比例，裁剪多餘部分 */
    object-position: center;  /* 確保圖片居中顯示 */
}

.certificate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.certificate-skill {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  .certificate-image-container:hover .certificate-overlay {
    opacity: 1;
  }
  
  .certificate-name {
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .certificate-skill {
    color: var(--gold_light);
    font-size: small;
  }
  

/*================================ skill section style ================================*/
.skill{
    padding-top: 0;
    background: var(--black);
    /* 左右位置，上下位置(放大)，縮放 */
    /* background-size: cover; */
    
}

.w2{
    height: 200px;
    background: url('./assets/artiom-vallat-TxUw6dXzhyA-unsplash.jpg') 10% no-repeat, var(--black);
    /* 左右位置，上下位置(放大)，縮放 */
    background-size: 200px;
    background-position: 90% 30%;
    padding: 50px;
}

.skill-content .title .text{
    background-color: black;
}

/*================================ experience section style ================================*/
.exp {
    background-color: #f8f9fa;
}

.card-container {
    margin-top: 2rem;
}

.card-container .card-sub-container {
    border: 1px solid var(--gold_light);
    padding: 1rem;
    margin: 1rem 0;
    
}
    .card-container .card-sub-container .card :hover{
        color: var(--gold);
        transition: all 0.5s ease;
    }
    .card-container .card-sub-container .focus-exp{
        color: var(--gold);
    }

.card {
    width: 100%;
}

.card .card-header {
    margin: 1rem 0;
}

.btn-link {
    color: var(--gold_light);
    font-weight: 600;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.collapse-content {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.card-body {
    transition: opacity 0.3s ease;
}

.card-body .text-muted {
    margin-bottom: 1rem;
}

.card-body ul li {
    letter-spacing: 0.1rem;
}

.card-body ul li::before {
    content: "• ";
    color: var(--gold_light);
    font-weight: bold;
}

.collapse-content[style*="max-height: 0px"] .card-body {
    opacity: 0;
}

.collapse-content:not([style*="max-height: 0px"]) .card-body {
    opacity: 1;
}

/*================================ project section style ================================*/
.project{
    background: var(--black);
    color: white;
}

.project .title .text{
    background-color: var(--black)
}

.focus-style:focus,
.focus-style.active {
    font-weight: bold;
    color: var(--gold);
}

.category-button .underline {
    background-color: var(--gold);
    transform: translate(0, 1.2rem);
    /* transform: translateX(100%); */
    transition: transform 0.3s ease;
  }
  .category-button:hover .underline {
    transform: translate(-100%, 1.2rem);
  }
  
/*================================ Contact section style ================================*/
.Contact{
    background: var(--black_light);
}

.Contact .title .text{
    background-color: var(--black_light);
}

.Contact .Contact-info{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: all 0.3s ease;
}

.Contact .Contact-info .Contact-title{
    font-size: 30px;
    font-weight: 400;
    color: var(--gold);
}

.Contact svg {
    color: var(--white);
}

.Contact .phone {
    color: var(--gold);
}
.Contact .phone-time {
    color: var(--gold_light);
}

.Contact .email {
    color: var(--gold);
}
.Contact .email-text {
    color: var(--gold_light);
}

.Contact .location {
    color: var(--gold);
}

/*================================ Footer style ================================*/
.copyright {
    background-color: var(--black);
}
    .copyright-text {
        color: var(--gold_light);
    }

.Contact-social{
    background-color: gray;
    background-size: cover;
    position: fixed;
    left: 10px;
    top: 30%;
    width: 50px;
    font-size: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px 30px gray;
}

.Contact-social::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.1); */
    z-index: -1;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(50px);
    /* margin: -10px; */
}

.social-item:nth-child(n+2){
    margin-top: 20px;
}

.Contact-social .social-item i{
    color: var(--white);
}


/*================================ RWD style ================================*/

@media screen and (max-width: 1400px) {
    .bx-wrapper{
        width: 90%;
    }

    .full-card{
        padding: 10px;
    }
}

@media screen and (max-width: 1134px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .navbar-nav{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        /* new 原本是 -100%*/
        top: -500%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .navbar-nav.active{
        top: 0;
    }
    .navbar .navbar-nav li{
        display: block;
    }
    .navbar .navbar-nav li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .menu-btn{
        display: inline-block;
    }

    .full-card {
        /* new */
        height: 500px;
        flex-wrap: wrap;
        margin: 0;
        }
        
    .font-card {
        width: calc(50% - 30px);
    }

    .font-description {
        width: 100%;
    }

    .Contact .Contact-info .submit{
        margin-top: 50px;
    }

    .Contact .Contact-info input{
        margin-top: 0;
    }

}

@media screen and (max-width: 991px) {
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    .skill-group{
        display: block;
    }

    .skill-group .skill-list{
        display: block;
        width: 100%;
    }

    .exp-content .exp-item-card{
        padding: 0;
    }

    .font-description{
        padding: 0;
        margin: 0;
    }

}

@media screen and (max-width: 911px){
    .main-line{
        display: none;
    }
    
    .exp-inner .exp-list .exp-item{
        width: 100%;
    }

    .exp-inner .exp-list .exp-item{
        margin-bottom: 0;
    }

    .exp-inner .exp-list .exp-item:nth-child(2n){
        margin-top: 0;
        text-align: left;
    }

    .exp-inner .exp-list .exp-item:nth-child(2n) .exp-item-card {
        justify-content: start;
    }

    .exp-item-content img{
        /* width: 50%; */
        object-fit: cover;
    }

    .exp-content .exp-content-title{
        padding: 20px 0 0 0;
    }
    
}

@media screen and (max-width: 700px){
    /* .full-card{
        width: 50%;
        height: 1000px;
    } */
    .font-description h2{
        font-size: 30px;
    }

    .font-description p{
        font-size: 12px;
    }

    .content-social{
        width: 30px;
        box-shadow: 0 0 30px 30px gray;
    }

    
}

@media screen and (max-width: 600px){    
    .max-width{
        padding: 0 50px;
    }
    
    .font-card {
        height: 30vh;
    }
    
    .font-description h2 {
        font-size: 20px;
    }

    .Contact-social{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        box-shadow: none;
        background-color: transparent;
        
    }

    .Contact-social .social-item{
        display: inline-block;
    }

}

@media screen and (max-width: 520px){
    /* .bx-viewport li{
        width: 300px;
    } */
    .max-width{
        padding: 0 20px;
    }
    
    .home-content{
        font-size: 28px;
    }
    
    .home-content .second-title{
        font-size: 48px;
    }

    .bx-viewport{
        height: 200vh;
    }

    .font-card {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .font-description h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 368px){
    
}
